.container {
  background-color:silver;
  font-family:verdana;
  font-size:small;
  width:98%;
  margin:0 auto;
  }
.header{
  border-radius:3px;
  padding-top:0.5%;
  width:100%;
}
.login-panel {
  width:41%;
  float:left;
}
.login-inputs {
  border-style:solid;
  border-color:#4e4f51;
  border-width: thin;
  width:60%;
}
.second-panel {
  width:59%;
  float:left;
}
.elastic-url {
  height: 28px;
	width: 99.5%;
  border-style:solid;
  border-color:#4e4f51;
  border-width: thin;
  outline: 0;
  border-radius: 3px;
}
.elastic-url:focus {
  border: 1px solid #07c;
  box-shadow: 0 0 10px #07c;
}
.main-operations {
  padding-top:0.5%;
  width:100%;
}
.foot-operations{
  padding-top:0.5%;
  width:100%;
}
.buttons{
  float:left;
  width:7%;
}
.buttonqueries {
  width: 100%;
  outline: 0;
  cursor: pointer;
  height: 30px;
  border: 0;
  border-radius: 3px;
  background: #0088cc;
  color: #fff;
}
.parameters{
  float:left;
  width:32%;
  margin-left:1%;
}
.textqueries{
  width: 99%;
  height: 28px;
  border-style:solid;
  border-color:#4e4f51;
  border-width: thin;
  border-radius: 3px;
  margin-top:-0.5%;
}
.query-payload{
  width:100%;
  border-style:solid;
  border-color:#4e4f51;
  border-width: thin;
}
.request-bad{
  float:left;
  width:58.1%;
  margin-left:1%;
  background-color:red;
}
.request-good{
  float:left;
  width:58.1%;
  margin-left:1%;
  background-color:green;
}
.binary-bulk{
  width: 100%;
  display:inline-block;
  outline: 0;
  border:1;
  cursor: pointer;
  height: 23px;
  color: #fff;
  padding-top:7px;
  border-radius: 3px;
  background: green;
  text-align:center;
  vertical-align: bottom;
}
.result {
      width:99%;
      border-style:solid;
      border-color:#4e4f51;
      border-width: thin;
      word-wrap: break-word;
    }
.button-auth {
  background: red;
  outline:0;
  cursor: pointer;
  height: 30px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  color: #fff;
}
.textqueries:focus {
    border: 1px solid #07c;
    box-shadow: 0 0 10px #07c;
}
