<div class="info-hidden"  [class.info-visible] = "infoVisible === true" >
  <span (click)="hideInfo()" class="close">&times;&nbsp;</span>
  <h2 style="color:white">Nodes in instance</h2>
  <div class="bar">
  </div>
  
  <app-video [greetMessage]="childmessage"></app-video>

</div>
<div class="container">
  <button (click)="showInfo()" class="buttoninfo">Info</button>
  <div>&nbsp;<span *ngIf="visitsLoaded" style="opacity:.7;font-size:x-small">{{visitCount}}&nbsp;visits</span></div>
  <br>
  <div class="login-panel">
    <table>
      <tr *ngIf="!noAuth">
        <td style="width:20%"><span>user</span> </td>
        <td style="width:80%" ><input class="login-inputs" placeholder="username" type="text" [(ngModel)] = "username"></td>
      </tr>
      <tr *ngIf="!noAuth">
        <td style="width:20%"><span >password&nbsp;</span></td>
        <td style="width:80%" ><input class="login-inputs"  placeholder="password"  type="password" [(ngModel)] = "password"></td>
      </tr>
      <tr>
        <td>
          <label>unsafe&nbsp;<input type ="checkbox" [(ngModel)]="noAuth" (change)="cht()" title="Insecure mode: for severs that are not protected"></label>
        </td>
        <td><button class="button-auth" (click)="authenticate()">{{authmode}}</button></td>
      </tr>
    </table>
  </div>
  <div class="url-panel">
      <span class="el-span">Elastic Service URL</span>
    	<input type="text"  class="elastic-url" [(ngModel)] ="elasticserver" placeholder="Enter Url of elastic server" />
  </div>
  <div class="clearfix"></div>
  <br>
  <div class = "buttons"  >
      <p><button class="buttonqueries" (click)="getQuery()">get</button></p>
      <p><button class="buttonqueries" (click)="postQuery()">post</button></p>
      <p><button class="buttonqueries" (click)="putQuery()">put</button></p>
      <p><button class="buttonqueries" (click)="deleteQuery()" style="padding-left:1%">delete</button></p>
      <form>
      <p><label for="bin-input"  class="binary-bulk">bulk</label></p>
        <input id="bin-input" style="display:none" onClick="this.form.reset()" type="file" multiple="false" (change)="bulkFilesChange($event)" accept=".txt,.json,.log">
      </form>
  </div>
  <div class ="parameters" >
        <p><input (focus)="getTutorialFocus()" class="textqueries" type="text" placeholder =" parameters for get request ......" [(ngModel)] = "getParameter" ></p>
        <p><input (focus)="postTutorialFocus()" class="textqueries" type="text" placeholder=" parameters for post request ......" [(ngModel)] = "postParameter" ></p>
        <p><input (focus)="putTutorialFocus()" class="textqueries" type="text" placeholder=" parameters for put request ......" [(ngModel)] = "putParameter"></p>
        <p><input (focus)="deleteTutorialFocus()" class="textqueries" type="text" placeholder=" parameters for delete request ......" [(ngModel)] = "deleteParameter"></p>
        <p><input (focus)="bulkTutorialFocus()"  class="textqueries" type="text" placeholder=" indexname/typename/_bulk" [(ngModel)] = "binaryParameter"></p>
  </div>
  <div style="text-align:right;" class ="request-container">
       <p><textarea class ="request-bad" [class.request-good] = "requestCheck == 'goodRequest'"  [(ngModel)] = "queryPayload"  rows="14" placeholder=" request ......" (ngModelChange)="queryChange($event)"></textarea></p>
  </div>
  <div class="clearfix"></div>
  <br>
  <div class = "foot-tutorials">
      <textarea  class="tutorials"  disabled placeholder=" help...just focus on the textbox of the parameter, bulk for example">{{elasticTutorials}}</textarea>
  </div>
  <div class ="foot-response">
    <textarea class="result" [(ngModel)] ="elasticresponse" placeholder=" response......"></textarea>
    <div *ngIf="elasticLoading" class="center-spinner">
        <div id="fountainG">
        	<div id="fountainG_1" class="fountainG"></div>
        	<div id="fountainG_2" class="fountainG"></div>
        	<div id="fountainG_3" class="fountainG"></div>
        	<div id="fountainG_4" class="fountainG"></div>
        	<div id="fountainG_5" class="fountainG"></div>
        	<div id="fountainG_6" class="fountainG"></div>
        	<div id="fountainG_7" class="fountainG"></div>
        	<div id="fountainG_8" class="fountainG"></div>
        </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <p style="font-size:xx-small;clear:both">{{jqueryversion}}&nbsp;and Angular 2/4</p>
  <span><a href="https://stedolan.github.io/jq/">download Jq</a></span>

</div>
