.container {
  background-color:silver;
  font-family:verdana;
  font-size:small;
      width:100%;
      margin:0 auto;
    }
.credentials {
      width:50%;
    }
.header{
  border-style:solid;
  border-width:thin;
border-radius:3px;
padding-top:0.5%;
width:99%;
}

.buttons{
  float:left;
  width:7%;
}

.parameters{
  float:left;
  width:34%;
  margin-left:1%;
  display:inline-table;
}


.request-bad{
  float:left;
  width:56.5%;
  margin-left:1%;
  display:inline-table;
  background-color:red;
}

.request-good{
  float:left;
  width:56.5%;
  margin-left:1%;
  display:inline-table;
  background-color:green;
}

.binary-bulk{
  width: 100%;
  outline: 0;
  cursor: pointer;
  height: 30px;
  border: 0;
  border-radius: 3px;
  background: green;
  color: #fff;
}

.result {
      width:99%;
      border-style:solid;
      border-width:thin;
      border-color:green;
      word-wrap: break-word;
    }

    .query-payload{
        width:98%;
        margin-top:-2%;
        margin-bottom:-3%;
        margin-left:0.6%;
    }


.login-panel {
  width:43.4%;
  height:100px;
  float:left;
}
.second-panel {
  width:56%;
  height:100px;
  float:left;
}

.button-auth {
  cursor: pointer;
  height: 25px;
  border: 0;
  border-radius: 3px;
  background: red;
  color: #fff;
}
.buttonqueries {
  width: 100%;
  outline: 0;
  cursor: pointer;
  height: 30px;
  border: 0;
  border-radius: 3px;
  background: #0088cc;
  color: #fff;
}
.textqueries{
  width: 99%;
  height: 28px;
  border-style:solid;
  border-width: thin;
  border-radius: 3px;
  margin-top:-0.5%;
}
.textqueries:focus {
    border: 1px solid #07c;
    box-shadow: 0 0 10px #07c;
}

textarea {
  width:100%;
}


.elastic-wrapper {
	width: 100%;
}
.elastic-url {
  height: 28px;
	width: 100%;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 3px;
}
.elastic-url:focus {
  border: 1px solid #07c;
  box-shadow: 0 0 10px #07c;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.elastic-url:not(:valid) ~ .close-icon {
	display: none;
}
