
<div class="container">
  <h1>You Know, for Search</h1>
  <br>
<div class ="header">
  <div class="login-panel">
    <table >
      <tr *ngIf="!noAuth">
        <td><span>user</span> </td>
        <td><input type="text" [(ngModel)] = "username"></td>
      </tr>
      <tr *ngIf="!noAuth">
        <td><span>password&nbsp;</span></td>
        <td><input type="password" [(ngModel)] = "password"></td>
      </tr>
      <tr>
        <td>
          <label>unsafe<input type ="checkbox" [(ngModel)]="noAuth" (change)="cht()" title="Insecure mode: for severs that are not protected"></label>
        </td>
        <td><button class="button-auth" (click)="authenticate()">{{authmode}}</button></td>
      </tr>
    </table>
  </div>
  <div class="second-panel">
    <div class="elastic-wrapper">
    	<form>
      <span style="font-size:x-small">Elastic Search Service URL</span>
    	<input type="text" name="focus" required class="elastic-url" [(ngModel)] ="elasticserver" placeholder="Enter Url of elastic server" />
    		<button class="close-icon" type="reset"></button>
    	</form>
    </div>
  </div>
  
  <div style="clear:left;"></div>
</div>
<br>
<div class = "buttons">
    <p><button class="buttonqueries">Get</button></p>
    <p><button class="buttonqueries" (click)="postQuery()">Post</button></p>
    <p><button class="buttonqueries" (click)="putQuery()">Put</button></p>
    <p><button class="buttonqueries" (click)="deleteQuery()">Delete</button></p>
</div>

<div class ="parameters">
  <p><input class="textqueries" type="text" placeholder=""></p>
  <p><input class="textqueries" type="text" placeholder=" post autogenerate an id eg: people/names" [(ngModel)] = "postParameter" ></p>
  <p><input class="textqueries" type="text" placeholder=" put allow to update an existing id eg: people/names/1" [(ngModel)] = "putParameter"></p>
  <p><input class="textqueries" type="text" placeholder=" delete indices and other actions" [(ngModel)] = "deleteParameter"></p>
 </div>


 <div class ="request-bad" [class.request-good]="requestCheck == 'goodRequest'">
   <p><textarea style="width:100%" [(ngModel)] = "queryPayload"  rows="11" placeholder=" Insert query here...." (ngModelChange)="queryChange($event)"></textarea></p>
</div>

  <div style="clear:left;"></div>


<textarea  rows="20" class="result" [(ngModel)] ="elasticresponse" placeholder="the response of the query.."></textarea>
<div>{{jqueryversion}}</div>
</div>
